body{
    transform: scale(0.75,0.60);
    margin-top: -160px;
    margin-left: -80px;
    background-color: rgb(59, 211, 59);
    }

#caja{
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: lightgreen;
}

#imagen{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logoImagen{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

#input-texto{
    position: absolute;
    width: 577px;
    height: 300px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border-radius: 24px;
    padding: 20px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background:  rgb(59, 211, 59);
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 180%;
    cursor: pointer;
}

.desencriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    /* left: 240px; */
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 180%;
    cursor: pointer;
}

.cajaderecha{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muneco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 283px;
}

#mensaje{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 310px;
    height: 122px;
    left: 36px;
    top: 619px;
    padding: 10px;
    border-radius: 24px;
}

.copiar{
    position: absolute;
    top: 770px;
    left: 130px;
    width: 150px;
    height: 40px;
    background:  rgb(59, 211, 59);
    flex-grow: 0;
    font-size: 180%;
    border-radius: 24px;
}

footer{
    top: 1200px;
    position: absolute;
    left: -40px;  
}

.sugerencia{
    margin-left: 300px;
    margin-top: -175px;  
    font-size: 120%;  
}

.copyright{
    margin-left: 400px;
    margin-top: -200px;
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width:480px){
    /* h1{
        text-align: center;
    }
    nav{
        position: static;
    } */
    #caja {
        display: inline-block;
        width: auto;
    }
    .logoImagen{
        display: block;
        top:-20px;
    }
    #input-texto {
        /* width: auto; */
        display: inline-block;
        font-family: 'Inter';
        font-style: normal;
        position: static;
        width: auto;
        padding: 10px;
        /* font-weight: 400;
        font-size: 32px;
        line-height: 150%; */
    }
    .botones{
        margin-top: -400px;
        margin-left: -120px;
        display: inline-block;
        height: auto;
        width: 100%;
    }

    .cajaderecha{
        display: block;
        font-family: 'Inter';
        font-style: normal;
        position: static;
        width: auto;
        padding: 10px;
        margin-top: 100px;
    }

    .muneco{
        display: block;
        margin-top: 360px;
        margin-left: 80px;
    }

    #mensaje{
        display: block;
        margin-top: 360px;
        margin-left: 80px;
    }
    .copiar{
        display: block;
        margin-top: 360px;
        margin-left: 80px; 
    }

    /* #caja, #imagen, .logoImagen, #input-texto, .botones, .encriptar, .desencriptar, .cajaderecha, #muneco, .copiar, .sugerencia, .copyright{
        width: auto;
    } */
    /* .muneco{
        width: 100%;
    } */
}

