body{
    transform: scale(0.75,0.60);
    margin-top: -160px;
    margin-left: -80px;
    background-color: rgb(59, 211, 59);
    }

#caja{
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: lightgreen;
}

#imagen{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logoImagen{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

#input-texto{
    position: absolute;
    width: 577px;
    height: 300px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border-radius: 24px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background:  rgb(59, 211, 59);
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 180%;
}

.desencriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    left: 240px;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 180%;
}

.cajaderecha{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muneco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 283px;
}

#mensaje{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 619px;
    border-radius: 24px;
}

.copiar{
    position: absolute;
    top: 751px;
    left: 130px;
    width: 150px;
    height: 40px;
    background:  rgb(59, 211, 59);
    flex-grow: 0;
    font-size: 180%;
    border-radius: 24px;
}

.superimg{
    transform: scale(0.2);
   
}

footer{
    top: 780px;
    position: absolute;
    left: -40px;
}

.copyright{
    margin-left: 260px;
    margin-top: -200px;
    font-style: italic;
    font-weight: bold;
}